<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509023017607-5kaok9h03chlg49a1s6bqtbirnjre0gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509023017607-5kaok9h03chlg49a1s6bqtbirnjre0gu</string>
	<key>API_KEY</key>
	<string>AIzaSyAoMwFjfA71b_TAqgOho0ILzM79lCsz3ow</string>
	<key>GCM_SENDER_ID</key>
	<string>509023017607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifgabsp.projectGet</string>
	<key>PROJECT_ID</key>
	<string>uas-21312107</string>
	<key>STORAGE_BUCKET</key>
	<string>uas-21312107.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509023017607:ios:d92b54218227a000627622</string>
</dict>
</plist>